<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>main</title>
    <link rel="stylesheet" href="/Style.css" type="text/css">
</head>

<body>
    <h1>My Shop</h1>
    <div class="buttons">
        <button>ONLY AVIABLE</button>
        <button>CHEAPEST FIRST</button>
        <button>CONTAINS NIKE</button>
        <button>AVRAGE STOCK</button>
        <button>MOST EXPENSIVE AVAILABLE</button>
    </div>
    <label for="search">Search for:</label>
    <div class="searchBar">
        <input type="search" id="search" placeholder="...something like nike">
        <button>Search</button>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
    </table>
</body>

</html>