<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<a th:href="@{/todo/list}">Todos</a>
<a th:href="@{add}">Add new assignee</a>
<h1>Assignees:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
    </tr>
    <tr th:each="assignee :${list}">
        <td th:text="${assignee.id}"></td>
        <td><a th:href="@{'/assignee/' + ${assignee.id} + '/todos'}" th:text="${assignee.name}"></a></td>
        <td th:text="${assignee.email}"></td>
        <td><a th:href="@{'/assignee/delete/' + ${assignee.id}}">delete</a></td>
        <td><a th:href="@{'/assignee/' + ${assignee.id} + '/update'}">update</a></td>
    </tr>
</table>
</body>
</html>