<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a th:href="@{/todo/add}">Add new todo.</a>
    <a th:href="@{/assignee/list}">Assignees</a>
    <h1>Todos for today:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>
        <tr th:each="todo :${list}">
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td th:text="${todo.isDone()}"></td>
            <td th:text="${todo.isUrgent()}"></td>
            <td><a th:href="@{'/todo/delete/' + ${todo.id}}">delete</a></td>
            <td><a th:href="@{'/todo/' + ${todo.id} + '/update'}">update</a></td>
        </tr>
    </table>
</body>
</html>